{% extends 'base.html' %}
{% load static %}
{% block title %}| Password Rest Done{% endblock title %}
{% block content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h4 class="alert-heading">Reset Password successfully</h4>
      <div >
        <img src="https://media.giphy.com/media/ibolLe3mOqHE3PQTtk/giphy.gif" width="200" height="200" frameBorder = "0"
        class="giphy-embed" allowFullScreen></img>

      </div>
    </div>
  </div>
</div>
{% endblock %}
