{%extends 'base.html'%}
{% block title %}| Printers{% endblock title %}

{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body >
    <h2 style="text-align:center;">Printer's</h2>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">

    {%for d in data%}
    <div class="  card" style="width: 20rem; margin: 8px">
        <img src="{{d.Image.url}}" class="card-img-top" style ="height:300px;">
        <div class="card-body">
            <h5 class="card-title">{{d.Title}}</h5>
            <p class="card-text" style="width: 250px; height: 150px; text-align: justify;"> {{d.Description}}</p>
            <ul class="list-group list-group-flush" style = "text-align:justify;">
                <li class=" list-group-item">
                  Series: &nbsp;&nbsp; {{d.Series}}</li>
                <li class="list-group-item">Brand: &nbsp;&nbsp; {{d.Brand}}</li>
                <li class="list-group-item">Specific Uses For {{d.Uses}}</li>
                <li class="list-group-item">Price: &nbsp;&nbsp; &#8377;{{d.Price}}/-</li>

                <div class="btn-group-vertical ">
                    <a href="#" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#Modal_{{d.PID}}">More
                        Details</a>
                    <a href="{% url 'add-to-cart' d.PID 'printer'%}" class="btn btn-dark" id="{{d.PID}}">Add To
                        Cart</a>
                    <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal2">Buy Now</a>
                </div>
            </ul>
        </div>
    </div>
   <!-- Modal1 -->
  <div class="modal fade" id="Modal_{{d.PID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{d.Title}}</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                   <table class="table table-hover">
                       <tr>
                          <th>Printing Technology</th>
                          <td>{{d.printing_technology}}</td>
                      </tr>
                      <tr>
                          <th>Printer Function</th>
                          <td>{{d.printer_function}} </td>
                      </tr>
                      <tr>
                          <th>Operatnig System</th>
                          <td>{{d.Operating_System}}</td>
                      </tr>
                      <tr>
                         <th>Printer Output</th>
                         <td>{{d.printer_output}} Hours</td>
                      </tr>
                      <tr>
                         <th>Sheet Size</th>
                         <td>{{d.sheet_size}}</td>
                      </tr>
                      <tr>
                          <th>Connector Type</th>
                         <td>{{d.Connector_Type}}</td>
                      </tr>
                      <tr>
                          <th>Country</th>
                          <td>{{d.Country}}</td>
                      </tr>
                      <tr>
                          <th>Manufacturer</th>
                          <td>{{d.Manufacturer}}</td>
                      </tr>
                      <tr>
                          <th>Weight</th>
                          <td>{{d.Weight}} Kg</td>
                      </tr>
                      <tr>
                          <th>Seller</th>
                          <td>{{d.seller}}</td>
                      </tr>
                  </table>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
    {%endfor%}
    <div/>
  </body>
</html>
{%endblock%}
